<?xml version="1.0" encoding="utf-8"?>
<unity xmlns="http://schemas.microsoft.com/practices/2010/unity">
  <!-- Namespaces -->
  <namespace name="Common"/>
  <namespace name="Contracts"/>
  <namespace name="DataAccessor"/>
  <namespace name="DataContracts"/>
  <namespace name="RegistrationManager"/>
  <namespace name="RegistrationEngine"/>
  
  <!-- Assemblies -->

  <assembly name="Common" />
  <assembly name="Contracts" />
  <assembly name="DataAccessor" />
  <assembly name="RegistrationEngine" />
  <assembly name="RegistrationManager" />

  <!-- Default Container -->
  <container>
    <type type="IRegistrationManager" mapTo="RegistrationManager"/>
    <type type="IRegistrationEngine" mapTo="RegistrationEngine"/>
    <type type="IRegistrationAccessor" mapTo="RegistrationAccessor"/>
  </container>
</unity>
